body {
    background-color: black;
    background-image: url(bgphoto2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  
  h1 {
    text-align: center;
    color: orange;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0;
    margin-top: 20px;
  }
  .logo {
    margin-top: 30px;
    margin-right: 30px;
    text-align: right;
    
  }
  hr {
    background-color: white;
    height: 1px;
    margin-top: 10;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  
  table {
    border: 0px double white;
    margin-left: 40px;
    border-collapse: collapse;
    width: 65%;
    color: white;
    
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    margin-right: 50px;
    padding-right: 40px;
    font-size: 25px;
  }
  
  
  .hoolnii_turluud {
    font-size: 60px;
    text-align: right;
    padding-right: 100px;
  }
  .menu-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 19px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.993);
}

.menu-item {
    margin-bottom: 19px;
}

.item-name {
    font-weight: bold;
}

.item-description {
    color: #f3b9b9;
}

.item-price {
    color: #000000;
    font-weight: bold;
}

  
  